# phpstan.neon
parameters:
    level: 5
    paths:
        - inc

    excludePaths:
        - */tests/*
        - */vendor/*
        - */node_modules/*

    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
