parameters:
  level: max

  paths:
    - inc/

  excludePaths:
    - */tests/*
    - */vendor/*
    - */node_modules/*

  ignoreErrors:
    -
      identifier: variable.undefined
      path: inc/templates/css-template.php
    -
      identifier: argument.type
      path: inc/templates/css-template.php


  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: false
