parameters:
  level: max
  paths:
    - inc/

  excludePaths:
    - */tests/*
    - */vendor/*
    - */node_modules/*

  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: false

