<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	backupGlobals="false"
	colors="true"
	stopOnFailure="false"
	cacheDirectory=".phpunit.result.cache">

	<testsuites>
		<testsuite name="Single">
			<file>tests/Unit/HelpersTest.php</file>
		</testsuite>

		<testsuite name="All">
			<directory suffix="Test.php">tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
